form {
	margin: 30px;
}

ul {
	list-style: none;
}

.container {
	width: 980px;
	margin: auto;
}

.banner {
	width: 100%;
	height: 110px;
	background: #a7cfdf; /* Old browsers */
	background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	text-align: left;
	margin-bottom: 10px;
	padding: 0px;
	box-shadow: 1px 1px 1px grey;
}

.banner img {
	height: 100px;
	vertical-align: middle;
	text-align: left;
	margin-left: 50px;
	margin-top: 10px
}

.banner h3 {
	color: white;
	vertical-align: middle;
	display: inline-block;
	margin-left: 400px;
}

.side-nav {
	display: inline-block;
	color: white;
	width: 200px;
	margin: 0px;
	padding: 0px;
	box-shadow: 1px 1px 1px grey;
	background-color: #23538a;
	text-align: center;
	min-height: 900px;
}

.main {
	display: inline-block;
	vertical-align: top;
	width: 775px;
	min-height: 900px;
	margin: 0px;
	padding: 0px;
	box-shadow: 1px 1px 1px grey;
	background-color: #a7cfdf;
	color: #23538a;
}

.selected {
	color: #a7cfdf;
}

#display {
	margin-left: 50px;
}